@model HMS.Entity.Models.Doctor

@{
    ViewData["Title"] = "UpdateDoctor";
}

<h1>UpdateDoctor</h1>

<h4>Doctor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form href="Doctor/UpdateDoctor">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DoctorId" class="control-label"></label>
                <input asp-for="DoctorId" class="form-control" />
                <span asp-validation-for="DoctorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoctorName" class="control-label"></label>
                <input asp-for="DoctorName" class="form-control" />
                <span asp-validation-for="DoctorName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoctorQualification" class="control-label"></label>
                <input asp-for="DoctorQualification" class="form-control" />
                <span asp-validation-for="DoctorQualification" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoctorSpecialization" class="control-label"></label>
                <input asp-for="DoctorSpecialization" class="form-control" />
                <span asp-validation-for="DoctorSpecialization" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConsultFee" class="control-label"></label>
                <input asp-for="ConsultFee" class="form-control" />
                <span asp-validation-for="ConsultFee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReEnterPassword" class="control-label"></label>
                <input asp-for="ReEnterPassword" class="form-control" />
                <span asp-validation-for="ReEnterPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="DoctorIndex">Back to List</a>
</div>

